**Basic data types**

In [1]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x) # Prints "3"
print(x + 1) # Addition; prints "4"
print(x - 1) # Subtraction; prints "2"
print(x * 2) # Multiplication; prints "6"
print(x ** 2) # Exponentiation; prints "9"
x += 1
print(x) # Prints "4"
x *= 2
print(x) # Prints "8"
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

**For statement**

In [2]:
A = range(5)
print(A)

print(A[2])

range(0, 5)
2

In [3]:
for i in range(5):
  print(i, A[i])

0 0
1 1
2 2
3 3
4 4

**Operators**

In [4]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

In [5]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

In [6]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')
print(months[0])
print("index of 7 ==> " , months[7])

January
index of 7 ==>  August

In [7]:
# iterate through them:
for item in months:
  print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [8]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O
print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

In [9]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)
li[1] = 45
print(li)
li.append('September')
print(li)

['hallym', 1, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello', 'September']

In [10]:
v = []
for i in range(0,3):
  v.append(i)
  print(v)

[0]
[0, 1]
[0, 1, 2]